<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomoakiohira.fameee" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="Fameee1"
            android:label="@string/famee1"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Photopage"
            android:label="@string/title_activity_photopage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".famee3"
            android:label="@string/title_activity_famee3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
